@media screen and (max-width:1024px){

    .portada {
        height: auto;
        margin-top: 20px;
    }

    .contenido {
        width: 80%;
    }

    .portada .imagen img {
        width: 450px;
    }

    .productos{
        margin-top: 50px;
    }
    
}

@media screen and (max-width: 768px) {

    .nav{
        overflow: visible;
    }

    .nav.active .menu{
        height: 123px;
        opacity: 1;
        pointer-events: fill;
    }

    .nav.active li{
        opacity: 1;
    }

    nav .menu li a {
        width: 100%;
        height: 100%;
        border: 1px solid gold;
        display: grid;
        place-items: center left;
    }

    .nav .menu{
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        background: var(--background-white);
        padding-inline-start: 0;
        margin-block-start: 0;
        pointer-events: none;
        height: 0;
        opacity: 0;
        transition: .4s;

    }
    .nav .menu li{
        display: grid;
        height: 40px;
        place-items: center left;
       
    }
    .burguer{
      width: 45px;
      height: 45px;
      opacity: 1;
      pointer-events: fill;
    }
      
    }
    


@media screen and (max-width:576px){

    .contenido {
        width: 90%;
    }

    .portada .title {
        font-size: 30px;
    }

    .portada .imagen{
        margin-top: 30px;
    }
    .portada .imagen img {
        width: 320px;
    }
    
}